<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spacebook</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <a href="/">Spacebook</a>
      </h1>
      <nav>
        {{!-- Conditionally render login or logout links --}}
        {{#if logged_in}}
        <a href="/profile">Profile</a> |
        <a href="/friends">My Friends</a> |
        <a href="/explore">Explore</a> |
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a href="/login">Login</a> |
        <a href="/signup">Sign Up</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      {{{ body }}}
    </main>
    <footer>
      <!-- Your footer content here -->
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>

  <script src="/js/explore.js"></script>

  {{/if}}




</body>

</html>