<main class="container">
    <div class="form-container">
        <h2 class="form-title">Create Thread</h2>
        
        {{#if userProfile.image}} <!-- Assuming userProfile.image is the URL for the user's profile image -->
        <div class="user-avatar-container">
            <img src="{{userProfile.image}}" alt="User's Profile Image" class="user-avatar">
            <span>Posting as {{userProfile.username}}</span>
        </div>
        {{/if}}

        <form class="create-thread-form">
            <div class="form-group">
                <label class="form-label" for="thread-title">Thread Title</label>
                <input class="form-input" type="text" id="thread-title" name="title" required>
            </div>
            <div class="form-group">
                <label class="form-label" for="thread-content">Thread Content</label>
                <textarea class="form-input" id="thread-content" name="content" required></textarea>
            </div>
            <button class="form-button button-primary" type="submit">Create Thread</button>
        </form>
        <script src="/js/create-thread.js"></script>
    </div>
</main>
