<div class="dashboard">
  <h2>Alien Profiles</h2>
  <ul>
    {{#each alienProfiles}}
      <li>{{name}}</li>
    {{/each}}
  </ul>

  <h2>Intergalactic Travels</h2>
  <ul>
    {{#each intergalacticTravels}}
      <li>{{destination}}</li>
    {{/each}}
  </ul>

  <h2>Earth Sightings</h2>
  <ul>
    {{#each earthSightings}}
      <li>{{location}}</li>
    {{/each}}
  </ul>
</div>
