<main class="container">
    <h2>My Friends</h2>
        <ul class="friends-list">
        {{#each user.friends}}
        <li class="friend-item">
            <!-- Display the friend's profile image if it exists -->
        <img src='{{thread.user.image}}' alt="{{thread.user.username}}" class="profile-image">             
        {{ username }}
        </li>
        {{/each}}
    </ul>
</main>
