<!-- homepage.handlebars -->
{{!-- Check if homepageData has friends and threads --}}
{{#if homepageData.friends.length}}
<h2>My Friends' Threads</h2>
{{!-- Loop through each friend's threads --}}
{{#each homepageData.friends as |friend|}}
<h3>{{friend.username}}</h3>
{{#each friend.threads as |thread|}}
<div>
  <p>Thread Title: {{thread.title}}</p>
  <p>Posted by: {{thread.user.username}}</p>
</div>
{{/each}}
{{/each}}
{{else}}
<p>No friend's threads to display.</p>
{{/if}}