<<main class="container">
    <h2>{{title}}</h2>
    <p class="font-wingdings">{{content}}</p>

    <!-- Toggle font button for thread content -->
    <button class="toggle-font-button" data-content-type="thread">Toggle Font</button>

    <h3>Comments</h3>
    <ul class="comment-list">
        {{#each comments}}
        <li>
            <span class="font-wingdings">{{User.username}}:</span> {{content}}
            <!-- Toggle font button for comment -->
            <button class="toggle-font-button" data-content-type="comment">Toggle Font</button>
        </li>
        {{/each}}
    </ul>
    <script src="/js/toggle-font.js"></script>
    </main>