/* UserProfile.css */

/* Styling for the entire container */
.user-profile-container {
    padding: 20px;
    background-color: #f7f7f7;
  }
  
  /* Styling for the header */
  header {
    margin-bottom: 20px;
    text-align: center;
  }
  
  header h1 {
    font-size: 2rem;
    color: #333;
  }
  
  /* Styling for the sections */
  section {
    margin-bottom: 40px;
  }
  
  section h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  /* Styling for the user profile data */
  p {
    font-size: 1.1rem;
    color: #555;
  }
  
  /* Styling for the edit button */
  footer {
    text-align: center;
    margin-top: 20px;
  }
  
  .edit-profile-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .edit-profile-button:hover {
    background-color: #0056b3;
  }
  /*  image    */
  .profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
